<div class="col-md-10 col-md-offset-1">
    <div class="fresh-table full-color-azure">
        <table id="fresh-table" class="table">
            <thead>
            <tr>
                <th data-field="serial" data-sortable="true">Serial No.</th>
                <th data-field="name" data-sortable="true">Hospital Name</th>
                <th data-field="address">Address</th>
                <th data-field="city" data-sortable="true">City</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3">Dhaka Division</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Samorita Hospital Limited</td>
                <td>89/1, Panthapath, Dhaka-1215</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Green Life Hospital</td>
                <td>32, Green Road, Dhanmondi Dhaka-1205</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Monowarea Hospital Pvt. Ltd</td>
                <td>54,Siddeshwari Road, Dhaka-1217</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Trauma & Orthopedic Hospital</td>
                <td>22/8/A, Block, Mirpur Road, Shyamoli, Dhaka-1207</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Millennium Heart & General Hospital Ltd</td>
                <td>4/9, Block-F, Lalmatia, Dhaka, Bangladesh</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Shahabuddin Medical College Hospital</td>
                <td>House 15, Road 113/A, Gulshan 2, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Shefa General Hospital & Diagnostic Centre</td>
                <td>25/19, Khizli Road,Shyamoli,Mohammadpur, Dhaka-1207</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Dhaka Pain Physiotherapy & Rehabilitation Center</td>
                <td>29 Probal Housing, Ring Road, Shyamoli, Moha  Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Dr. Azmal Hospital</td>
                <td>Plot- 5, Road- 4, Block-A, Section-6, Mirpur, Dhaka-1216</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Care Zone Hospital Ltd</td>
                <td>24, Gorib-E-Newaz Avenue, Sector-11, Uttara, Dhaka-1230</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Dr.Amanat Khan Hospital & Diagnostic Center</td>
                <td>House-02, Road-03, Block-E, Kalwalapara, Mirpur-1, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Mirpur Adhunik Hospital & Diagnostic Center</td>
                <td>House-20-21, Road-05, Block-Dha, Section-12, Pallabi, Mirpur, Dhaka.</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Asian General & Dental Hospital Ltd</td>
                <td>House-04, Road-11, Pragati Sarani, Merul Badda, Dhaka-1212</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>14</td>
                <td>DSK Hospital</td>
                <td>22/Ka, Piciculture Housing, Society, Ring Road, Shyamoli, Dhaka-1207</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Al-Markazul Islami Hospital</td>
                <td>House# 29, Road# 3, Shyamoli, Dhaka-1207</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Lubana General Hospital & Cardiac Center</td>
                <td>9,Garib-e-Newaz Avenue, Sector- 13, Uttara, Dhaka-1230</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Makka Madina General Hospital</td>
                <td>21/14, Babar Road, Block-B, Shyamoli, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Galaxy Hospital (Pvt) Ltd</td>
                <td>Mirpur -10, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Ashik Multispeciality Hospital</td>
                <td>23/1, Bir Uttam ANM, Nuruzzaman Road, Shyamoli, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Doctors Clinic & Hospital</td>
                <td>35, Mitford Road, Dhaka, Bangladesh</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Hasnabad Specialized Hospital & Lab Ltd.</td>
                <td>Hasnabad,South Keranigonj, Dhaka-1311, Bangladesh</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Care Zone Hospital Ltd</td>
                <td>Plot-35, Section-1, Mirpur, Dhaka, Bangladesh</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Digilab Medical Services</td>
                <td>House -02, Road- 06, Block-A, Section-10, Mirpur, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Medisun Health Care</td>
                <td>19,19/1 D.C Roy Road, Mitford, Dhaka-1100</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Selina General Hospital  & Diagnostic Centre (Pvt.) Ltd</td>
                <td>282/1, 1st Colony, Mazar Road, Mirpur, Dhaka-1216</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Helal Diagnostic Pvt. Ltd</td>
                <td>Section-10, Block-B, Plot-1,Ave-1, Mirpur, Dhaka-1216</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Padma Path Lab</td>
                <td>7 Darussalam Road, Mirpur-1, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Radical Hospitals Ltd</td>
                <td>35 Shah Makhdum Avenue, Sec-12, Uttara, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>29</td>
                <td>M General Hospital & Diagnostic Centre</td>
                <td>H# 35, Main Road, Mirpur-10, Dhaka-1216</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Kingstone Hospital Ltd</td>
                <td>H# 51-54, R# 1& 2, B# D, Shahidbag, Mirpur-12, Dhaka-1216</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Life Aid Specialized Hospital Private Limited</td>
                <td>613/2, Kazipara, Begum Rokeya Sharani, Mirpur, Dhaka-1216</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Brighton Hospital & Diagnostic Center (Pvt.) Ltd.</td>
                <td>163-164, Sonargaon Road, Hatirpul, Dhanmondi, Dhaka-1205, Bangladesh</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>33</td>
                <td>MH Samorita Hospital & Medical College</td>
                <td>117, Love Road, Tejgaon I/A, Dhaka, Bangladesh</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Delta Health Care Jatrabari Limited</td>
                <td>169/1 B, West Dholaipar, Dhaka-1204</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>35</td>
                <td>OGSB Hospital and IRCH</td>
                <td>Plot- 6/1, Sec- 17, (Old 17), Mirpur Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Marks Medical College & Hospital</td>
                <td>The Marks Group Tower, A/3, Main Road, Mirpur-14, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>37</td>
                <td>Ahsania Mission Cancer Detection & Treatment Centre</td>
                <td>Plot # M-1/C, Section # 14, Mirpur, Dhaka-1206</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Ahsania Mission Cancer & General Hospital</td>
                <td>Plot # 3, Embankment Tower, Uttara Model Town</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Dhaka Central International Medical College and Hospital</td>
                <td>2/1Ring Road,  Dhaka- 1207</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>40</td>
                <td>Aalok Health Care Ltd</td>
                <td>H# 1, R# 2, B# B, Mirpur-10, Dhaka-1206</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Metropolitan Medical Centre</td>
                <td>46, Shaheed Tajuddin Ahmed, Sarani, Mohakhali, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>42</td>
                <td>Universal Medical College Hospital</td>
                <td>74G/175, Peacock Squre, New Airport Road, Mohakhali, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>43</td>
                <td>Prime Bank Eye Hospital</td>
                <td>H# 10, R# 19/A, B#E, Banani, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>44</td>
                <td>Labaid Specialized & Cardiac Hospital</td>
                <td>P# 1&3, R# 4, Dhanmondi, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>45</td>
                <td>Labaid Diagnostics (Doyaganj)</td>
                <td>30-31/1 Doyagonj Hut Lane, Sutrapur, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>46</td>
                <td>Labaid Diagnostics (Mirpur)</td>
                <td>P# 9, B# B, Section# 1, Mirpur</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>47</td>
                <td>Labaid Diagnostics (Gulshan)</td>
                <td>H# 13/A, R# 35, Gulshan-2, Dhaka-1212</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>48</td>
                <td>Labaid Diagnostics</td>
                <td>H# 15, R# 12, Sector# 6, Uttara, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>49</td>
                <td>Enam Medical College Hospital</td>
                <td>9/3 Parboti Nagor, Dir Mukti joddha abul Kashem Sandeep Sarak, Savar, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>50</td>
                <td>Uttara Crescent Hospital</td>
                <td>H# 21, R#15, S#3, Rabindra Sarani, Uttara, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>51</td>
                <td>Medisun Hospital</td>
                <td>31, Nayabazar, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>52</td>
                <td>Shin Shin Japan Hospital</td>
                <td>17,Garib Newaz Avenue, Uttara, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>53</td>
                <td>Medinova Medical Services Ltd. (Dhanmondi)</td>
                <td>H# 71/A, R# 5/A, Dhanmondi, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>54</td>
                <td>Medinova Medical Services Ltd. (Uttara)</td>
                <td>H# 11, Sec# 7, Sonargaon Janapath Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>55</td>
                <td>Medinova Medical Services Ltd. (Malibagh)</td>
                <td>6/9, Hosaf Tower, Outer circular road, Malibagh,Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>56</td>
                <td>Medinova Medical Services Ltd. (English Road)</td>
                <td>31, Johnson Road (Ray Shaheb Bazar) Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>57</td>
                <td>Delta Health Care, Mirpur Ltd.</td>
                <td>Mirpur Industrial Plot# 4-5, Sec# 07, Pollobi, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>58</td>
                <td>Rushmono General Hospital</td>
                <td>209, Outer Circular Road, Maghbazar, Dhaka-1217</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>59</td>
                <td>Badda General Hospital & Diagnostic Center</td>
                <td>107/2, North Badda, Progati Shorani, Dhaka-1212</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>60</td>
                <td>Cure and Prevents Pvt. Ltd</td>
                <td>H# 5, Lane# 3, B# B, Sec# 10, Mirpur, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>61</td>
                <td>Bangladesh ENT Hospital Ltd</td>
                <td>4/1/A, Sobhanbag, mirpur road, Dhaka</td>
                <td>Dhaka</td>
            </tr>
            <tr>
                <td>62</td>
                <td>Labaid Diagnostics (Faridpur)</td>
                <td>5/1 Nituli, Mujib Sarak, Faridpur</td>
                <td>Faridpur</td>
            </tr>
            <tr>
                <td>63</td>
                <td>Noor Clinic</td>
                <td>Bhurghata Bus stand, Madaripur</td>
                <td>Madaripur</td>
            </tr>
            <tr>
                <td>64</td>
                <td>Noor Diagnostic Center</td>
                <td>Bhurghata Bus stand, Madaripur</td>
                <td>Madaripur</td>
            </tr>
            <tr>
                <td>65</td>
                <td>Shariatpur Digital Diagnostin Centre</td>
                <td>Sadar Road, Shariatpur</td>
                <td>Shariatpur</td>
            </tr>
            <tr>
                <td>66</td>
                <td>Central Mucta Hospital</td>
                <td>Bindu Bashini Girls School, Tangail</td>
                <td>Tangail</td>
            </tr>
            <tr>
                <td>67</td>
                <td>Dholesshori Hospital</td>
                <td>Zilla Sadar road, Akur Takur Para, Tangail</td>
                <td>Tangail</td>
            </tr>
            <tr>
                <td>68</td>
                <td>Dhanshiri Hospital</td>
                <td>Maymansingh road, Sabaliya, Tangail</td>
                <td>Tangail</td>
            </tr>
            <tr>
                <td>69</td>
                <td>Medinova Medical Services Ltd,  Narayngonj</td>
                <td>Zakir Super Market, 145 Narayanganj</td>
                <td>Narayanganj</td>
            </tr>
            <tr>
                <td>70</td>
                <td>Silver Crescent Hospital Ltd</td>
                <td>145B.B Road, Jakir Super Market (4th Floor) Chashara</td>
                <td>Narayanganj</td>
            </tr>
            <tr>
                <td>71</td>
                <td>Prime General Hospital</td>
                <td>53/1, Nowab Salimullah Road, Chasahara, Narayanganj, Dhaka</td>
                <td>Narayanganj</td>
            </tr>

            <!------- Barisal Division -->
            <tr>
                <td>Barisal Division</td>
            </tr>
            <tr>
                <td>72</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>73</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>74</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>75</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>76</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>77</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>78</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>79</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>80</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>81</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>82</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>83</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>84</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>85</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>86</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>87</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>88</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>89</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            <tr>
                <td>90</td>
                <td></td>
                <td></td>
                <td>Barisal</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>