@charset "UTF-8";

body {
    padding-top: 60px;
    background: #222;
    color: #fff;
}
h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
a {
    color: orange;
}
a:hover {
    color: lightblue;
    text-decoration: none;
}
.modal {
	overflow: auto;
	color: #333;
}
